<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="communitySQL">
	<resultMap type="community.dto.CommunityDTO" id="communityResult">
		<result column="SEQ" property="seq"/>
		<result column="ID" property="id"/>
		<result column="EMAIL" property="email"/>
		<result column="SUBJECT" property="subject"/>
		<result column="CONTENT" property="content"/>
		<result column="FILEPATH" property="filePath"/>
		<result column="REF" property="ref"/>
		<result column="LEV" property="lev"/>
		<result column="STEP" property="step"/>
		<result column="PSEQ" property="pseq"/>
		<result column="REPLY" property="reply"/>
		<result column="HIT" property="hit"/>
		<result column="LOGTIME" property="logtime"/>
	</resultMap>
	
	<insert id="communityWrite">
		INSERT INTO CLOUDCOMMUNITY VALUES()
	</insert>
</mapper>